#  Servidor
PORT=3000          # Puerto HTTP (solo redirige a HTTPS)
HTTPS_PORT=3443    # Puerto HTTPS principal

# Base de datos
# Local:
MONGO_URI=mongodb://localhost:27017/todolist
# Atlas (nube):
# MONGO_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/todolist

# Autenticación JWT
JWT_SECRET=cambia_esto_por_una_cadena_larga_y_aleatoria
JWT_EXPIRES_IN=7d
